<header class="site-header">
   <div class="logo">
      <a>FITT</a>
   </div>
   <!-- <div class="logo">
      <img
         src="./assets/shoppingImg.jpg"
         alt="logo"
      >
   </div> -->
   <nav>
      <ul>
         <li><a routerLink="/">Home</a></li>
         <li><a routerLink="/about">About</a></li>
         <li><a routerLink="/todos">ToDo's</a></li>
         <li><a routerLink="/services">Services</a></li>
         <li><a routerLink="/contact">Contact</a></li>
      </ul>
   </nav>
   <div class="cta">
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">Sign Up</a>
   </div>
</header>