button {
  background-color: #222;
  color: white;
  padding: 8px;
  border-radius: 8px;

  border: #555 solid;
}

.searchh {
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
}

.searchh input {
  width: 60%;
  background-color: white;
  color: #000;
  padding: 8px;
  border-radius: 8px;
  border: #555 solid;
}

.searchForm {
  justify-items: center;
}
